/* TODO: make reset sensible */

html {
    font-size: 12px;
    font-family: Open Sans;
}

html,
body,
body main * {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    line-height: 1em;
    text-align: left;
    cursor: default;
    color: black;
    font-size: 1em;

    vertical-align: top;
    text-decoration: none;
    box-sizing: border-box;
    /*display: flex;
    flex-direction: column;*/
}

p {
    margin: 0;
}
