/* TODO: make reset sensible */

html {
    font-size: 12px;
    font-family: Open Sans;
}


/* Potentially useful for full-screen launch */
html {
    height: 100%;
    overflow: hidden;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

body {
    background: #F1F1F1;
}

html,
body,
body main * {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    line-height: 1em;
    text-align: left;
    cursor: default;
    color: black;
    font-size: 1em;
    -webkit-user-select: none;

    vertical-align: top;
    text-decoration: none;
    box-sizing: border-box;
    /*display: flex;
    flex-direction: column;*/
}

p {
    margin: 0;
}
