html {
  font-family: Open Sans;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.weight-input {
  position: relative;
  padding-right: 10px;
}
.denominator {
  position: absolute;
  top: 0;
  right: 0;
}

ul.unstyled,
ul.unstyled li {
  margin: 0;
  padding: 0;
}

.right-aligned {
  text-align: right;
}

input[type=button],
input[type=submit],
button {
  border: none;
  background: #009900;
  padding: 4px 16px;
  color: white;
  border-radius: 2px;
}

main.viewport {
  display: flex;
  height: 100%;
  background: #66CC44;
  background: #44DD00;
  background: #116600;
  background: #EEDD00;
  background: #EEBB00;
  background: #AA7722;
  background: #009900;
  background: #DDEEDD;

  background: #fafafa;

  /*background: rgba(51,57,70, 1);*/
}

.nav-item {
  height: 60px;
  width: 60px;
  color: white;
  font-size: 12px;
  text-align: center;
  display: flex;
}
.nav-item > * {
  margin: auto;
  width: 100%;
}

.nav-item img,
.nav-item svg {
  height: 25px;
  width: 100%;
}

.nav-item .desc {
  margin: 0;
}

.nav-item:hover {
  background: #000;
}

.nav-item.active {
  background: #000;
  cursor: default;
}

nav.main {
  background: rgb(36, 36, 36);
  width: 60px;
  flex-shrink: 0;
}

.nav-item.settings {
  align-self: flex-end;
}

#container {
  flex-grow: 1;
  height: 100%;
}

#container > div {
  height: 100%;
  width: 100%;
  display: flex;
}

.master {
  width: 35%;
}
.detail {
  width: 65%;
}

.master,
.detail {
  overflow-y: auto;
}

.recipe-detail {
  padding: 0 3em;
}

.recipe-detail header {
  text-align: center;
  margin: 1em 0;
}
.recipe-detail header .stats {
  display: flex;
  width: 150px;
  margin: auto;
  justify-content: space-between;
}
.recipe-detail header .stats p {
  margin: 0;
}
.text-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.recipe-detail .name {
  margin: 0;
}

.recipe-detail .author,
.recipe-detail .style{
  margin: 0;
}
.recipe-detail .style {
  font-size: .8em;
}

.clickable {
  cursor: pointer;
}

nav.main ul {
  display: flex;
  flex-direction: column;
}

.beer-name-input {
  width: 100%;
  font-size: 2em;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}

/*
#66CC44
#44DD00
#009900
#116600
#DDEEDD
#EEDD00
#EEBB00
#AA7722
*/


/*
Dark scema: 51,57,70 - 43,48,59
*/

.master {
  display: flex;
  flex-direction: column;
}
.recipe-list {
  flex-grow: 1;
  overflow-y: auto;
}
.recipe-list-footer {
  flex-shrink: 0;
  padding: .25em .5em;
}
.recipe-list-footer input {
  width: 100%;
  background: transparent;
  border: none;
  color: #fff;

  padding: .25em .5em;
  font-size: .8em;
  border: 1px solid rgba(64,71,89,1);
  border-radius: 2px;
}
.recipe-list-footer input:hover,
.recipe-list-footer input:focus {
  border-color: #fff;
  outline: none;
}

.detail,
article.recipe-item.selected,
article.recipe-item:hover {
  /*background: rgba(43, 48, 59, 1);*/
}
article.recipe-item.selected {
  cursor: default;
}
article.recipe-item p.subtext {
  color: #rgba(64,71,89,1);
  margin: 0;
  font-size: .7em;
}

.remove {
  display: none;
}

.recipe-row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  width: auto;
  margin-bottom: .5em;
}

.recipe-row .weight-input-wrapper {
  position: relative;
  cursor: text;
}
.recipe-row .recipe-input.weight-input {
  padding-right: 10px;
}
.recipe-row .weight-input-wrapper .denominator {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  line-height: 34px;
  width: 10px;
  text-align: right;
}

.recipe-row p {
  margin: 0;
}
.recipe-row .recipe-input {
  padding: 0;
  margin: 0;
  border: none;
  border-right: 1px solid rgba(0, 0, 0, .12);
  padding: 8px 8px 4px;
  font-size: 1em;

  /*cursor: pointer;*/
}

.recipe-row .recipe-input:focus,
.recipe-row .recipe-input:hover {
  /*box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .3) inset;*/
}
.recipe-row .recipe-input:focus {
  cursor: inherit;
}

.recipe-input.two-digit {
  /* 2 + 50% */
  width: 3em;
}

.recipe-input.three-digit {
  /* 3 + 50% */
  width: 4.5em;
}

.recipe-input.four-digit {
  /* 4 + 50% */
  width: 6em;
}

.recipe-input.five-digit {
  /* 5 + 50% */
  width: 4.5em;
}

.fill-width {
  flex-grow: 1;
}

.recipe-row .recipe-input:last-child {
  border: none;
}

.weight-input {
  text-align: right;
}

.recipe-input:focus {
  outline: none;
}

.main-view {
  max-width: 800px;
  height: 100%;
  margin: auto;
  margin-top: 4em;
  background: #fff;
  padding: 32px 16px;
}

.recipe-type-wrapper {
  padding-top: 1em;
  margin-top: 1em;
}

.recipe-type-wrapper h1 {
  font-size: 16px;
  text-transform: uppercase;
}

.ingredient-name {
  width: 260px;
  padding-right: .5em;
}


select {
  background: transparent;
  border-radius: 0;
  font-size: 1em;
  -webkit-appearance: none;
  appearance: none;
}
